playlist {
	color: rgb(16, 6, 6);
	width: 100%;
}
heading {
	color: rgba(51, 80, 211, 0.918);
	font-size : 40px;
	background-color : rgb(255, 255, 255);
}
heading, artist, year, genre{
	display : block;
    padding : 5px;
}
title {
	font-size : 20px;
	font-weight : bold;
}
